### vue3 ###
**/node_modules
**/dist
**/dist-ssr
**/coverage
**/*.local
**/*.log
**/package-lock.json
**/yarn.lock

### gradle ###
**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar
**/build/
**/out/
**/gradle.properties

### kotlin test ###
**/.kotlintest/
**/logs/

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
**/.vscode/

### MacOS ###
**/*.DS_Store
**/mp4
**/*.pdf