.digital {
  @include flexBox;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  background: #4c4c4c;
  border: 0.1em solid #222;
  position: absolute;
  bottom: 55px;
  left: ($clock-length - 90)/2;

  li {
    @include flexBox;
    width: 30px;
    height: 30px;
    border-right: 1px solid #000;
    color: #ddd;
    font-family: Consolas, monaco, monospace;
  }
}